@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="page">
    <main>

        <div class="top-row px-4">
            <div class="nav-buttons">
                <a href="/" class="nav-link">Log Mood</a>
                <a href="/moodhistory" class="nav-link">Mood History</a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<script src="/js/chart.min.js"></script>
<script src="/js/chartInterop.js"></script>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private void GoToLog() => NavManager.NavigateTo("/");
    private void GoToHistory() => NavManager.NavigateTo("/moodhistory");
}